  <div class="container">
    <h2>DEFINIÇÃO DO SEU ARQUIVO</h2>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-8">
            <section  class="customize main-section">
                    <header>
                        <h3>
                          ESCOLHA O FORMATO DO SEU ARQUIVO
                        </h3>      
                        <br>     
                    </header>
                    <div class="customize__options">
                      <ul>
                        <li>4 x 5 cm</li>
                        <li>4 x 5 cm</li>
                        <li>4 x 5 cm</li>
                        <li>4 x 5 cm</li>
                        <li>4 x 5 cm</li>
                        <li>4 x 5 cm</li>
                      </ul>
                    </div>
              </section>

              <section  class="customize main-section">
                <header>
                    <h3>
                      MATERIAL / TIPO DE PAPEL
                    </h3>      
                    <br>     
                </header>
                <div class="customize__options">
                  <ul>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                  </ul>
                </div>
              </section>

              <section  class="customize main-section">
                <header>
                    <h3>
                      ACABAMENTO
                    </h3>      
                    <br>     
                </header>
                <div class="customize__options">
                  <ul>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                    <li>4 x 5 cm</li>
                  </ul>
                </div>
              </section>
        </div>
        <div class="col-lg-4">
          <section class="customize__resumo">
            <div class="container">
              <h4>Resumo</h4>
              <ul>
                <li>Formato:</li>
                <li>Impressao:</li>
                <li>cores:</li>
                <li>material:</li>
                <li>Tipo de corte:</li>
                <li>Enobrecimento:</li>
                <li>Extras:</li>
              </ul>
            </div>
          </section>
        </div>
    </div>
  </div>
  