<!-- *** LOGIN MODAL ***_________________________________________________________ -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="Login">Customer login</h4>
      </div>
      <div class="modal-body">
        <form action="customer-orders.html" method="post">
          <div class="form-group">
            <input type="text" class="form-control" id="email_modal" placeholder="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password_modal" placeholder="password">
          </div>
          <p class="text-center">
            <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
          </p>
        </form>
        <p class="text-center text-muted">Not registered yet?</p>
        <p class="text-center text-muted">
          <a href="customer-register.html"><strong>Register now</strong></a>!
          It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- *** LOGIN MODAL END *** -->

<!-- *** LUPA MODAL ***_________________________________________________________ -->
<div class="modal fade" id="lupa-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <img src="images/opcoes-formato.jpg" style="width: 100%" />
      </div>
    </div>
  </div>
</div>
<!-- *** LUPA MODAL END *** -->

<!-- *** Modelos MODAL ***_________________________________________________________ -->
<div class="modal fade" id="model-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="Model">Modelos de Impressos</h4>
      </div>
      <div class="modal-body">
        <p class="text-center text-muted">
          Escollha o modelo de impresso que mais se encaixa com o que você deseja!
        </p>
        <ul>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Cardápio de Papel</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Cartão de Visita</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Identificador de Porta</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Papel Timbrado</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Flyer</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Adesivo</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Folhetos</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Panfletos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- *** Modelos  MODAL END *** -->

<!--Titulo - Inicio-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>DETALHE DO PEDIDO</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Titulo - Fim-->

<div class="espaco"></div>

<!-- Conteudo - Fim  -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-1">&nbsp;</div>
      <div class="col-xs-12 col-sm-10 col-md-10 finalizar-compra">
        <!-- Dados - Inicio  -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 titulo" style="background-color: #36c265; color: #fff; text-align: center; border-radius: 3px;">
            <span>PEDIDO NÚMERO: {{pedido.pedidoId}}</span>
          </div>
        </div>
        <!-- Dados - Fim  -->

        <div class="espaco" style="height: 25px;"></div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 titulo">
            <i class="ok"></i>
            <span>Status do Pedido</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 pedido-status">
            <div style="width:85%; margin:0 auto;">
              <ul>
                <li ng-repeat="x in listaStatus" class="{{x.pedidoStatusId <= 2 ? 'active' : ''}}">
                  <p>&nbsp;</p>
                  <span title="{{x.pedidoStatusId}}">{{x.nome}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="espaco" style="height: 25px;"></div>

        <!-- Endereço - Inicio  -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 titulo">
            <i class="ok"></i>
            <span>Entrega e Faturamento</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 conteudo">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="box-finalizar-compra">
                  Meus Dados
                  <br />
                  <span>{{pedido.consumidor[0].nome}}</span>
                  <br />
                  <span>Email: {{pedido.consumidor[0].email}}</span>
                  <br />
                  <span>CPF: {{pedido.consumidor[0].cpfCnpj}}</span>
                  <br />
                  <div style="font-weight: normal; font-size: 1.3rem;" ng-repeat="x in pedido.consumidor[0].telefones | limitTo: 2">Tel.: ({{x.ddd}}) {{x.telefone}}</div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="box-finalizar-compra">
                  Entrega
                  <br />
                  <span>{{pedido.endereco[0].destinatario}}</span>
                  <br />
                  <span>{{pedido.endereco[0].logradouro}}, {{pedido.endereco[0].numero}}{{pedido.endereco[0].complemento.length > 0 ? ', ' + pedido.endereco[0].complemento : ''}}</span>
                  <br />
                  <span>CEP: {{pedido.endereco[0].cep}}</span>
                  <br />
                  <span>Bairro: {{pedido.endereco[0].bairro}}</span>
                  <br />
                  <span>Cidade: {{pedido.endereco[0].cidade}} - {{pedido.endereco[0].estado}}</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="box-finalizar-compra">
                  Faturamento
                  <br />
                  <span>CARTÃO DE CRÉDITO</span>
                  <br />
                  <span>Valor Produtos: {{pedido.valorPedido | currency: 'R$ '}}</span>
                  <br />
                  <span>Valor Desconto: {{pedido.valorDesconto | currency: 'R$ '}}</span>
                  <br />
                  <span>Valor Frete: {{pedido.valorFrete | currency: 'R$ '}}</span>
                  <br />
                  <span><strong>Valor Total: {{pedido.valorTotal | currency: 'R$ '}}</strong></span>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Endereço - Fim  -->

        <div class="espaco" style="height: 25px;"></div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 titulo">
            <i class="ok"></i>
            <span>Itens</span>
          </div>
        </div>
      </div>
      <div class="col-sm-1 col-md-1">&nbsp;</div>
    </div>

    <div class="row">
      <div class="col-sm-1 col-md-1">&nbsp;</div>
      <div class="col-xs-12 col-sm-10 col-md-10 carrinho">
        <div class="row">
          <div class="espaco" style="height: 10px;"></div>
          <div class="col-xs-12 col-sm-12 col-md-12 carrinho">
            <div class="row">
              <div class="hidden-xs col-sm-12" style="padding:0">
                <label class="control-label col-sm-5 col-md-5 titulo">PRODUTO</label>
                <label class="control-label col-sm-3 col-md-3 titulo">PREVISÃO DE ENTREGA</label>
                <label class="control-label col-sm-2 col-md-2 titulo">QUANTIDADE</label>
                <label class="control-label col-sm-2 col-md-2 titulo">VALOR</label>
              </div>
              <div class="visible-xs col-xs-5" style="padding:0">
                <label class="control-label col-xs-12 titulo">PRODUTO</label>
                <label class="control-label col-xs-12 titulo mobile">PREVISÃO DE ENTREGA</label>
                <label class="control-label col-xs-12 titulo mobile">QUANTIDADE</label>
                <label class="control-label col-xs-12 titulo mobile">VALOR</label>
              </div>
              <div class="col-xs-7 col-sm-12 col-md-12 linha" ng-repeat="x in pedido.entregas">
                <div class="col-xs-7 col-sm-12 col-md-12 linha" ng-repeat="w in x.itens">
                  <div class="col-xs-12 col-sm-5 col-md-5 conteudo">
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <img src="lib/images/produtos/{{w.imagemPrd}}" />
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7">
                      {{w.produto}}
                      <br />
                      <div ng-repeat="y in w.propriedades">
                        <span>{{y.propriedade}}</span>
                      </div>
                      <br />
                      <span style="font-weight: bold; font-size: 1.1rem;">Adicionais</span>
                      <div ng-repeat="y in w.adicionais">
                        <span>{{y.configuracao}} - {{(y.valorAdicional>0) && (y.valorAdicional | currency: 'R$ ') || 'GRÁTIS'}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 links" style="position: absolute; bottom: 0;">
                        <div class="alerta">Arte: {{w.arquivo}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-md-3 conteudo mobile">
                    {{x.previsaoEntrega | date: 'dd/MM/yyyy'}}
                  </div>
                  <div class="col-xs-12 col-sm-2 col-md-2 conteudo mobile">
                    {{w.quantidade | number}}
                  </div>
                  <div class="col-xs-12 col-sm-2 col-md-2 conteudo mobile">
                    {{w.valorTotalItem | currency: 'R$ '}}

                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 links" style="position: absolute; bottom: 0;">
                        <a href="" ng-click="carregarArte(w.pedidoEntregaProdutoSkuId);">
                          <i class="upload"></i>Upload Arte Final
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 col-md-1">&nbsp;</div>
    </div>

    <div class="espaco" style="height: 25px;"></div>

    <div class="row">
      <div class="col-sm-1 col-md-1">&nbsp;</div>
      <div class="col-xs-12 col-sm-10 col-md-10 minha-conta meus-pedidos" style="text-align: right;">
        <button class="arquivo" style="width: 265px;">
          <span></span>VOLTAR PARA MEUS PEDIDOS
        </button>
      </div>
      <div class="col-sm-1 col-md-1">&nbsp;</div>
    </div>
</div>
</section>
<!-- Conteudo - Fim  -->
<div class="espaco"></div>

<!--Newsletter - Inicio-->
<section class="newsletter">
  <div class="container">
    <div class="col-md-8 col-sm-12">
      <!-- -->
      <ul>
        <li class="iconMail">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 139.95 55.18">
            <path fill="#cbcfd4" d="M92.78 14.53c4.49 0 7.69 3.64 7.69 8.14v23.39a8.12 8.12 0 0 1-8.12 8.12H49.47a9 9 0 0 1-9-9V22.67a8.33 8.33 0 0 1 8.36-8.14" />
            <path fill="#151617" d="M93.22 55.18H49.47c-5.62 0-10-4-10-9.12V22.67a9.69 9.69 0 0 1 9.78-9.64 1.45 1.45 0 0 1 1.32.85 1.51 1.51 0 0 1-1.36 2.15 6.69 6.69 0 0 0-6.73 6.64v23.39c0 3.83 3.57 6.12 7 6.12h43.73a5.92 5.92 0 0 0 6.25-6.12V22.67a6.47 6.47 0 0 0-6.44-6.64 1.51 1.51 0 0 1-1.36-2.15 1.44 1.44 0 0 1 1.31-.85 9.44 9.44 0 0 1 9.5 9.64v23.39a8.89 8.89 0 0 1-9.25 9.12z" />
            <path fill="#151617" d="M71.32 37.39a9.59 9.59 0 0 1-4.67-1.2l-24.57-15.3a1.503 1.503 0 1 1 1.59-2.55l24.5 15.26a6.65 6.65 0 0 0 6.46-.07l23.9-15.18a1.5 1.5 0 1 1 1.61 2.53l-24 15.22a9.79 9.79 0 0 1-4.82 1.29z" />
            <path fill="#fe0060" d="M73.47 10.51c-1.12 0-2.15 1.39-3 2-.83-.62-1.86-2-3-2a5 5 0 0 0-5 5c0 2.76 7.14 10.91 8 10.29.83.62 8-7.53 8-10.29a5 5 0 0 0-5-5z" />
            <path fill="#151617" d="M70.6 27.18s-.08.08-.12.07-.08 0-.12 0c-2.45 0-9.36-8.71-9.36-11.81a6.5 6.5 0 0 1 6.5-6.49 4.57 4.57 0 0 1 3 1.5 4.56 4.56 0 0 1 3-1.49 6.51 6.51 0 0 1 6.5 6.5c0 2-2.07 4.87-3.8 7-3.84 4.78-5.16 4.72-5.6 4.72zm-3.13-15.17a3.5 3.5 0 0 0-3.49 3.5c0 1.65 4.77 7.55 6.48 8.74 1.7-1.19 6.48-7.09 6.48-8.74a3.5 3.5 0 0 0-3.5-3.5 4.68 4.68 0 0 0-1.19.93 10.51 10.51 0 0 1-.88.77 1.52 1.52 0 0 1-1.79 0 10.36 10.36 0 0 1-.89-.78 4.52 4.52 0 0 0-1.22-.92z" />
            <path fill="#fe0060" d="M133.47 1.51c-1.12 0-2.15 1.39-3 2-.83-.62-1.86-2-3-2a5 5 0 0 0-5 5c0 2.76 7.14 10.91 8 10.29.83.62 8-7.53 8-10.29a5 5 0 0 0-5-5z" />
            <path fill="#151617" d="M130.6 18.18s-.08.08-.12.07-.08 0-.12 0c-2.45 0-9.36-8.71-9.36-11.81a6.5 6.5 0 0 1 6.5-6.49 4.57 4.57 0 0 1 3 1.5 4.56 4.56 0 0 1 3-1.49 6.51 6.51 0 0 1 6.5 6.5c0 2-2.07 4.87-3.8 7-3.84 4.78-5.16 4.72-5.6 4.72zm-3.13-15.17a3.5 3.5 0 0 0-3.49 3.5c0 1.65 4.77 7.55 6.48 8.74 1.7-1.19 6.48-7.09 6.48-8.74a3.5 3.5 0 0 0-3.5-3.5 4.68 4.68 0 0 0-1.19.93 10.51 10.51 0 0 1-.88.77 1.52 1.52 0 0 1-1.79 0 10.36 10.36 0 0 1-.89-.78 4.52 4.52 0 0 0-1.22-.92z" />
            <path fill="#fe0060" d="M10.47 26.06c-1 0-1.87 1.21-2.6 1.75-.73-.54-1.62-1.75-2.6-1.75a4.36 4.36 0 0 0-4.36 4.36c0 2.41 6.23 9.52 7 9 .73.54 7-6.57 7-9a4.36 4.36 0 0 0-4.44-4.36z" />
            <path fill="#151617" d="M8.38 41.18s-.07-.09-.1-.09h-.1c-2.14 0-8.17-7.64-8.17-10.34a5.69 5.69 0 0 1 5.67-5.68 4 4 0 0 1 2.6 1.3 4 4 0 0 1 2.6-1.31 5.68 5.68 0 0 1 5.67 5.67c0 1.72-1.8 4.41-3.32 6.29-3.32 4.06-4.47 4.16-4.85 4.16zM5.67 27.62a3.05 3.05 0 0 0-3 3.05c0 1.44 4.16 6.58 5.65 7.63 1.49-1 5.65-6.18 5.65-7.63a3.06 3.06 0 0 0-3.05-3.05 4.08 4.08 0 0 0-1 .82 9.17 9.17 0 0 1-.77.68 1.32 1.32 0 0 1-1.57 0 9 9 0 0 1-.78-.68 4 4 0 0 0-1.14-.82z" />
            <path fill="#fe0060" d="M113.76 38.44c-.78 0-1.49 1-2.07 1.4-.58-.43-1.29-1.4-2.07-1.4a3.48 3.48 0 0 0-3.48 3.48c0 1.92 5 7.6 5.55 7.16.58.43 5.55-5.24 5.55-7.16a3.48 3.48 0 0 0-3.48-3.48z" />
            <path fill="#151617" d="M111.68 49.18s-.05.29-.08.29-.05.15-.08.15c-1.7 0-6.52-6-6.52-8.16a4.5 4.5 0 0 1 4.52-4.49 3.19 3.19 0 0 1 2.07 1.06 3.16 3.16 0 0 1 2.07-1 4.53 4.53 0 0 1 4.52 4.53c0 1.37-1.44 3.16-2.65 4.66-2.62 3.24-3.54 2.96-3.85 2.96zm-2.21-10.09a2.44 2.44 0 0 0-2.43 2.44c0 1.15 3.32 5.25 4.51 6.08 1.19-.83 4.51-4.93 4.51-6.08a2.44 2.44 0 0 0-2.44-2.43 3.26 3.26 0 0 0-.83.65 7.27 7.27 0 0 1-.62.54 1 1 0 0 1-1.24 0 7.17 7.17 0 0 1-.62-.54 3.15 3.15 0 0 0-.84-.66zM63.58 13.03H49.47c-5.62 0-10 3.86-10 9v12h3v-12c0-3.83 3.57-6 7-6h13.21zm29.64 0H78.47v3h14.75c3.68 0 6.25 2.37 6.25 6v12h3v-12c0-5.31-3.89-9-9.25-9z" />
          </svg>
        </li>
        <li class="subscribe ng-scope" ng-controller="NewsletterCtrl">
          <h4>Inscreva-se em nossa newsletter</h4>
          <p>para receber nossas últimas notícias e descontos exclusivos</p>
          <form id="subscribe" name="formNewsletter">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Digite seu email">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  Inscrever
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </form>
        </li>
        <li class="social">
          <p>Encontre-nos em nossas redes sociais</p>
          <p><a href="https://www.facebook.com/PrintiBR?fref=ts" alt="Facebook" target="blank" class="facebook"></a>
            <a href="https://twitter.com/Printi" alt="Twitter" target="blank" class="twitter"></a>
            <a href="https://www.linkedin.com/company/printi" alt="Linkedin" target="blank" class="linkedin"></a>
            <a href="https://plus.google.com/u/1/+PrintiBr/posts" alt="Google Plus" target="blank" class="googleplus no-mr"></a></p>
          </li>
        </ul>
        <!-- -->
      </div>
    </div>
  </section>
  <!--Newsletter - Fim-->
