<div class="container">
  <h2>Finalizar Compra</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <section class="informacoes-pedido">
       <header>
         <h4>Dados</h4>
       </header>
       <div class="informacoes-pedido__conteudo">
         <p><strong>Joviano Alves</strong></p>
         <p><a>Email:jovianoalves@gmail.com</a></p>
         <p>CPF: 123.489.654-8</p>
         <p>Tel: (11) 4485-5963</p>
         <i class="fa fa-pencil"></i><a href="#">Editar</a>
       </div>
      </section>
      <section class="informacoes-pedido">
          <header>
            <h4>ENDEREÇO DE ENTREGA</h4>
          </header>
          <div class="informacoes-pedido__conteudo">
            <div class="row">
              <div class="col-lg-4">
                <div class="endereco">
                  <h6>Entrega</h6>
                  <ul>
                    <li>Joviano</li>
                    <li>Avenida Paulista, 230</li>
                    <li>15º andar</li>
                    <li>Cep:</li>
                    <li>Bairro:</li>
                    <li>Cidade:</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                  <div class="endereco">
                      <h6>Cobrança</h6>
                      <ul>
                        <li>Joviano</li>
                        <li>Avenida Paulista, 230</li>
                        <li>15º andar</li>
                        <li>Cep:</li>
                        <li>Bairro:</li>
                        <li>Cidade:</li>
                      </ul>
                    </div>
              </div>
            </div>
          </div>
         </section>
         <section class="informacoes-pedido">
            <header>
              <h4>Forma de Pagamento</h4>
            </header>
            <div class="informacoes-pedido__conteudo">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12"><button type="button" class="btn btn-lg btn-primary btn-card"><i class="fa fa-credit-card"></i>&nbsp; Cartão de crédito</button></div>
                <div class="col-lg-4 col-md-4 col-sm-12"><button type="button" class="btn btn-lg btn-default btn-bank"><i class="fa fa-barcode"></i>&nbsp; Boleto bancário</button></div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="credit-card">
                        <img src="lib/images/cartao-credito.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-row informacoes-pedido__pagamento">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group input-group-lg form-input">
                            <input type="text" class="form-control" placeholder="Nº do Cartão:">
                         </div>
                    </div>
                  </div>
                  <div class="form-row informacoes-pedido__pagamento">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="input-group input-group-lg form-input">
                              <input type="text" class="form-control" placeholder="Nome:">
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12">
                          <div class="input-group input-group-lg form-input">
                              <input type="text" class="form-control" placeholder="Mês:">
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12">
                          <div class="input-group input-group-lg form-input">
                              <input type="text" class="form-control" placeholder="Ano:">
                           </div>
                      </div>
                  </div>
                  <div class="form-row informacoes-pedido__pagamento">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="input-group input-group-lg form-input">
                              <input type="text" class="form-control" placeholder="Cód">
                           </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-12">
                        <select class="select-pag">
                          <option value="72,00"><h5>R$72,00 (Á vista)</h5></option>
                          <option value="2x31,00">2 x R$31,00</option>
                          <option value="3x24,00">3 x R$24,00</option>
                        </select>
                      </div>                   
                  </div>
                </div>
              </div>
            </div>
           </section>
    </div>
    <div class="col-lg-4">
        <section class="detalhes-pedido">
            <div class="resumo">       
              <h4>RESUMO</h4>
              <ul>
                <li><h5>TOTAL</h5></li>
                <li><h2>R$ 72,00</h2></li>             
              </ul>
              <hr>
              <h4>Produtos</h4>
              <ul>
                  <li>Produto:</li>                
                  <li>Formato:</li>
                  <li>Quantidade:</li>
                  <li>Valor:</li>
                </ul>
              <i class="glyphicon glyphicon-chevron-right"></i>&nbsp; <a href="#">Ver todos os produtos</a>
            </div>
          <button type="button" class="btn btn-primary btn-lg btn-block btn-upload">Finalizar Compra</button>
        </section>
    </div>
  </div>
</div>