<!--Titulo - Inicio-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>
            <a href="#/">Home</a>
          </li>
          <li>Política de Privacidade</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>POLÍTICA DE PRIVACIDADE</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Titulo - Fim-->

<!-- Conteudo - Inicio  -->
<section class="politica-de-privacidade">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul>
          <li>
            Este SITE foi criado para prestação de serviços de impressão digital. Este é um serviço para pessoas que queiram imprimir arquivos em formato digital.  Ao acessar o SITE e também ao contratar a compra de serviços disponibilizadas no mesmo, o Contratante estará concordando com todos os termos e condições aqui dispostos.
          </li>
          <li>
            <h2>
              DO CADASTRO NO SITE:
            </h2>
          </li>
          <li>
            <p>
              <b>1)</b>
              Para todos que contratarem os serviços ou os  que acessarem o SITE, além das diversas informações contidas no SITE, também é oferecido a prestação de serviços de impressão digital.
            </p>
          </li>
          <li>
            <p>
              <b>2)</b>
              Prestamos serviços para pessoa física e jurídica. Com relação às pessoas físicas, para realizar a contratação de qualquer tipo de serviço, o Contratante deverá ter idade mínima de 18 (dezoito) ano, ou, caso seja menor, o cadastro deverá ser realizado por seus pais, tutores ou responsáveis.
            </p>
          </li>
          <li>
            <p>
              <b>3)</b>
              O SITE poderá ser utilizado por pessoas físicas ou jurídicas, nacionais (brasileiros) ou estrangeiros, ficando claro que, por ser o negócio realizado em território nacional, vale a legislação vigente no País, Brasil.
            </p>
          </li>
          <li>
            <p>
              <b>4)</b>
              O acesso à página inicial do SITE, bem como a outras páginas serão realizadas sem qualquer necessidade de cadastro. Mas, para a compra de serviços, é necessário que preencha o CADASTRO fornecendo alguns dados pessoais, sendo que este contrato se inicia com a compra dos serviços, por meio do SITE.
            </p>
          </li>
          <li>
            <p>
              <b>5)</b>
              Periodicamente, faremos verificações nos cadastros e excluiremos os cadastros que contenham informações incorretas ou notadamente falsas, ficando o Contratante ciente deste procedimento.
            </p>
          </li>
          <li>
            <p>
              <b>6)</b>
              O Contratante, em conformidade com os Termos de Serviço e Uso do Site, contidos neste documento, se obriga a fornecer informações verdadeiras, exatas, atuais e completas sobre si mesmo, preenchimento do registro no formulário específico para acesso ao serviço digital, bem como manter seu cadastro atualizado para compras futuras.
            </p>
          </li>
          <li>
            <p>
              <b>7)</b>
              O Contratante desde já declara, sob as penas da lei, que todos os dados fornecidos são verdadeiros.
            </p>
          </li>
          <li>
            <p>
              <b>8)</b>
              O Contratante fica ciente de que o acesso ou a contratação dos serviços do SITE, através do seu endereço de email ou nome do usuário e senha, implica automaticamente que o Contratante está assumindo todas as responsabilidades pelo seu uso.
            </p>
          </li>
          <li>
            <p>
              <b>9)</b>
              Se qualquer informação fornecida pelo Contratante for falsa, incorreta, desatualizada ou incompleta, ou caso  tenhamos razões suficientes e fundamentadas para suspeitar que tais informações sejam falsas, incorretas, desatualizadas ou incompletas, A gráfica terá o direito de suspender ou cancelar imediatamente, independente de notificação, a solicitação de compra do serviço do Contratante, bem como qualquer futura contratação de serviço ou parte dele.
            </p>
          </li>
          <li>
            <p>
              <b>10)</b>
              O Contratante deverá informar seu próprio endereço eletrônico a ser utilizado no SITE e recebimento de mensagens advindas de seu cadastro no referido SITE. O Contratante será inteiramente responsável por qualquer atividade que ocorra no âmbito de seu cadastro. O endereço eletrônico informado pelo Contratante será utilizado para sua identificação.
            </p>
          </li>
          <li>
            <p>
              <b>11)</b>
              O Contratante se obriga a notificar imediatamente a gráfica do site sobre qualquer uso não autorizado de seu login no SITE (identificação do Contratante para acesso ao SITE mediante o preenchimento de seu endereço eletrônico pessoal ou nome de usuário e senha) ou qualquer quebra de segurança de seu conhecimento. Concorda também em não deixar seu cadastro pessoal aberto no computador após entrar com seu endereço eletrônico no SITE, evitando, assim, o uso desautorizado por terceiros.
            </p>
          </li>
          <li>
            <p>
              <b>12)</b>
              Faz parte da nossa politica respeitar a privacidade de seus Contratantes. O SITE não irá, portanto, monitorar, editar, acessar ou divulgar informações privativas de seus Contratantes sem autorização prévia, exceto nos casos expressamente previstos nos termos do presente ou a menos que sejamos obrigados a fazê-lo mediante ordem judicial ou por força de lei.
            </p>
          </li>
          <li>
            <p>
              <b>13)</b>
              O cadastro do Contratante no SITE é gratuito.
            </p>
          </li>
          <li>
            <p>
              <b>14)</b>
              O Contratante, juridicamente capaz, poderá solicitar a compra de serviços digitais através do SITE.
            </p>
          </li>
          <li>
            <p>
              <b>15)</b>
              O Contratante deverá efetuar seu próprio cadastro no SITE, responsabilizando-se pela correção e veracidade dos dados informados e deverá manter o ambiente de seu computador seguro, com uso de ferramentas disponíveis como anti-virus e firewall, entre outras, atualizadas, de modo a contribuir na prevenção de riscos eletrônicos de sua parte.
            </p>
          </li>
          <li>
            <h2>
              DIREITOS E RESPONSABILIDADES DA PRINTI:
            </h2>
          </li>
          <li>
            <p>
              <b>16)</b>
              O Contratante fica ciente e autoriza, quando da realização do pedido, que o site possa efetuar cópias dos arquivos enviados por ele, sempre que necessário para a realização dos trabalhos e cumprimento da sua obrigação. A gráfica tomará os cuidados necessários para que os arquivos digitais, enviadas pelo Contratante não sejam acessados ou divulgados por terceiros ou para terceiros. Entretanto, o Contratante reconhece que durante o envio deste arquivo o mesmo pode estar sujeito a interceptação por terceiros ou ação de “hackers”, hipótese na qual a gráfica não poderá ser responsabilizada por tratar-se de caso fortuito.
            </p>
          </li>
          <li>
            <h2>
              DA UTILIZAÇÃO E RESPONSABILIDADES PELOS DADOS:
            </h2>
          </li>
          <li>
            <p>
              <b>17)</b>
              As informações prestadas pelo Contratante necessárias para a contratação dos serviços serão utilizadas apenas para os fins de cadastros, legais, tributários e objeto do presente instrumento, de modo que este site se compromete a não utilizar destas para quaisquer fins, como ainda de não divulgá-las ao público em geral, a não ser por determinação judicial.
            </p>
          </li>
          <li>
            <p>
              <b>18)</b>
              Entretanto, para fins estatísticos, a grafica  poderá utilizar as informações fornecidas pelo Contratante, bem como o modo, fins e horários de utilização dos serviços e produtos disponibilizados pelo SITE.
            </p>
          </li>
          <li>
            <p>
              <b>19)</b>
              Em caso de alteração de qualquer um dos dados cadastrais informados pelo Contratante, estes deverão ser atualizados de imediato, ou estará o Contratante responsável por danos ou prejuízos que venham a ser causados ao site desta grafica ou a terceiros pela falta de atualização de seu cadastro junto a mesma, que pode implicar em entrega errada, não realização da entrega, entre outros.
            </p>
          </li>
          <li>
            <p>
              <b>20)</b>
              O Contratante responderá civil e criminalmente e pelos danos morais e materiais ou por qualquer prejuízo que venha a causar ao site, em decorrência do não cumprimento ou do cumprimento irregular do presente instrumento, bem como por quaisquer danos que venha a causar a terceiros, por ato ou fato resultante da utilização em desacordo com os termos deste instrumento, ou declaração falsa que utilize.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Conteudo - Fim  -->
