<!-- *** LOGIN MODAL ***_________________________________________________________ -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="Login">Customer login</h4>
      </div>
      <div class="modal-body">
        <form action="customer-orders.html" method="post">
          <div class="form-group">
            <input type="text" class="form-control" id="email_modal" placeholder="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password_modal" placeholder="password">
          </div>
          <p class="text-center">
            <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
          </p>
        </form>
        <p class="text-center text-muted">Not registered yet?</p>
        <p class="text-center text-muted">
          <a href="customer-register.html"><strong>Register now</strong></a>!
          It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- *** LOGIN MODAL END *** -->

<!-- *** LUPA MODAL ***_________________________________________________________ -->
<div class="modal fade" id="lupa-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <img src="images/opcoes-formato.jpg" style="width: 100%" />
      </div>
    </div>
  </div>
</div>
<!-- *** LUPA MODAL END *** -->

<!-- *** Modelos MODAL ***_________________________________________________________ -->
<div class="modal fade" id="model-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="Model">Modelos de Impressos</h4>
      </div>
      <div class="modal-body">
        <p class="text-center text-muted">
          Escollha o modelo de impresso que mais se encaixa com o que você deseja!
        </p>
        <ul>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Cardápio de Papel</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Cartão de Visita</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Identificador de Porta</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Papel Timbrado</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Flyer</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Adesivo</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Folhetos</a></li>
          <li><a href="modelos-de-cardapio-de-papel.html">Modelos de Panfletos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- *** Modelos  MODAL END *** -->

<!--Titulo - Inicio-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>{{item.produto}}</li>
          <li>Enviar Arte</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>ENVIE SUA ARTE FINAL</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Titulo - Fim-->

<!-- Conteudo - Fim  -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9">
        <div class="atencao atencao-arte-final">
          <i class="warning"></i>
          <div style="padding: 12px;"><span>Atenção:</span> a arte deve ser enviada até <span>DEFINIR REGRA DE DATAS.</span> Após esse período a previsão de entrega será alterada.</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 arte-final">
        <!-- Upload - Inicio  -->
        <form ng-app="Upload" name="frmUpload" role="form">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="upload">
                <label for="arquivo" class="arquivo">
                  <span></span>PROCURAR ARQUIVO
                </label>
                <input type="hidden" name="pedidoId" value="{{item.pedidoId}}" />
                <input type="hidden" name="pedidoEntregaProdutoSkuId" value="{{item.pedidoEntregaProdutoSkuId}}" />
                <input type="file" id="arquivo" ngf-select ng-model="upload" name="upload" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" required />
              </div>
            </div>
          </div>
          <div class="hidden-xs espaco"></div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
              <div class="botoes">
                <button class="arquivo">
                  ENVIAR MAIS TARDE
                </button>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="botoes">
                <button type="button" ng-disabled="frmUpload.$invalid" ng-click="carregar()" ng-class="{'arquivo enviar disabled':frmUpload.$invalid, 'arquivo enviar':frmUpload.$valid}">
                <!--<button class="arquivo enviar" type="submit" ng-click="carregar()" ng-show="!frmUpload.$invalid">-->
                <!--<button class="arquivo enviar" type="submit" ng-click="carregar()" style="display:block;">-->
                  ENVIAR ARTE FINAL
                </button>
                <!--<button class="arquivo enviar disabled" data-temp="{{frmUpload.$valid}}" ng-show="frmUpload.$invalid">
                  ENVIAR ARTE FINAL
                </button>-->
              </div>
            </div>
          </div>
          <!--Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file || '/thumb.jpg'"/>
          <i ng-show="up.upload_form.file.$error.required">*required</i><br>
          <i ng-show="up.upload_form.file.$error.maxSize">File too large
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
          <button type="submit" ng-click="up.submit()">submit</button>
          <p>{{up.progress}}</p>-->
        </form>
        <!-- Upload - Fim  -->
      </div>

      <!-- Resumo - Inicio  -->
      <div class="col-xs-12 col-sm-3 col-md-3 area-resumo">
        <div class="resumo arte-final-resumo">
          <div class="box-resumo">
            <div class="heading">
              <h2>Resumo do seu pedido</h2>
            </div>
            <p><span>{{item.produto}}</span></p>
            <p ng-repeat="x in item.propriedades"><span>{{x.grupoPropriedade}}:</span> {{x.propriedade}}</p>
            <div class="heading">
              <h2>Opções Adicionais</h2>
            </div>
            <p ng-repeat="x in item.adicionais"><span>{{x.grupoAdicional}}:</span> {{x.adicional}}</p>
            <div class="atencao">
              <i class="warning"></i>
              <div style="padding: 12px 6px"><span>Previsão de entrega:</span> {{item.dataEntrega}}</div>
            </div>
            <h4>{{item.valorTotalItem | currency: 'R$ '}}</h4>
          </div>
        </div>
      </div>
      <!-- Resumo - Fim  -->
    </div>
  </div>
</section>
<!-- Conteudo - Fim  -->
<div class="espaco"></div>

<!--Newsletter - Inicio-->
<section class="newsletter">
  <div class="container">
    <div class="col-md-8 col-sm-12">
      <!-- -->
      <ul>
        <li class="iconMail">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 139.95 55.18">
            <path fill="#cbcfd4" d="M92.78 14.53c4.49 0 7.69 3.64 7.69 8.14v23.39a8.12 8.12 0 0 1-8.12 8.12H49.47a9 9 0 0 1-9-9V22.67a8.33 8.33 0 0 1 8.36-8.14" />
            <path fill="#151617" d="M93.22 55.18H49.47c-5.62 0-10-4-10-9.12V22.67a9.69 9.69 0 0 1 9.78-9.64 1.45 1.45 0 0 1 1.32.85 1.51 1.51 0 0 1-1.36 2.15 6.69 6.69 0 0 0-6.73 6.64v23.39c0 3.83 3.57 6.12 7 6.12h43.73a5.92 5.92 0 0 0 6.25-6.12V22.67a6.47 6.47 0 0 0-6.44-6.64 1.51 1.51 0 0 1-1.36-2.15 1.44 1.44 0 0 1 1.31-.85 9.44 9.44 0 0 1 9.5 9.64v23.39a8.89 8.89 0 0 1-9.25 9.12z" />
            <path fill="#151617" d="M71.32 37.39a9.59 9.59 0 0 1-4.67-1.2l-24.57-15.3a1.503 1.503 0 1 1 1.59-2.55l24.5 15.26a6.65 6.65 0 0 0 6.46-.07l23.9-15.18a1.5 1.5 0 1 1 1.61 2.53l-24 15.22a9.79 9.79 0 0 1-4.82 1.29z" />
            <path fill="#fe0060" d="M73.47 10.51c-1.12 0-2.15 1.39-3 2-.83-.62-1.86-2-3-2a5 5 0 0 0-5 5c0 2.76 7.14 10.91 8 10.29.83.62 8-7.53 8-10.29a5 5 0 0 0-5-5z" />
            <path fill="#151617" d="M70.6 27.18s-.08.08-.12.07-.08 0-.12 0c-2.45 0-9.36-8.71-9.36-11.81a6.5 6.5 0 0 1 6.5-6.49 4.57 4.57 0 0 1 3 1.5 4.56 4.56 0 0 1 3-1.49 6.51 6.51 0 0 1 6.5 6.5c0 2-2.07 4.87-3.8 7-3.84 4.78-5.16 4.72-5.6 4.72zm-3.13-15.17a3.5 3.5 0 0 0-3.49 3.5c0 1.65 4.77 7.55 6.48 8.74 1.7-1.19 6.48-7.09 6.48-8.74a3.5 3.5 0 0 0-3.5-3.5 4.68 4.68 0 0 0-1.19.93 10.51 10.51 0 0 1-.88.77 1.52 1.52 0 0 1-1.79 0 10.36 10.36 0 0 1-.89-.78 4.52 4.52 0 0 0-1.22-.92z" />
            <path fill="#fe0060" d="M133.47 1.51c-1.12 0-2.15 1.39-3 2-.83-.62-1.86-2-3-2a5 5 0 0 0-5 5c0 2.76 7.14 10.91 8 10.29.83.62 8-7.53 8-10.29a5 5 0 0 0-5-5z" />
            <path fill="#151617" d="M130.6 18.18s-.08.08-.12.07-.08 0-.12 0c-2.45 0-9.36-8.71-9.36-11.81a6.5 6.5 0 0 1 6.5-6.49 4.57 4.57 0 0 1 3 1.5 4.56 4.56 0 0 1 3-1.49 6.51 6.51 0 0 1 6.5 6.5c0 2-2.07 4.87-3.8 7-3.84 4.78-5.16 4.72-5.6 4.72zm-3.13-15.17a3.5 3.5 0 0 0-3.49 3.5c0 1.65 4.77 7.55 6.48 8.74 1.7-1.19 6.48-7.09 6.48-8.74a3.5 3.5 0 0 0-3.5-3.5 4.68 4.68 0 0 0-1.19.93 10.51 10.51 0 0 1-.88.77 1.52 1.52 0 0 1-1.79 0 10.36 10.36 0 0 1-.89-.78 4.52 4.52 0 0 0-1.22-.92z" />
            <path fill="#fe0060" d="M10.47 26.06c-1 0-1.87 1.21-2.6 1.75-.73-.54-1.62-1.75-2.6-1.75a4.36 4.36 0 0 0-4.36 4.36c0 2.41 6.23 9.52 7 9 .73.54 7-6.57 7-9a4.36 4.36 0 0 0-4.44-4.36z" />
            <path fill="#151617" d="M8.38 41.18s-.07-.09-.1-.09h-.1c-2.14 0-8.17-7.64-8.17-10.34a5.69 5.69 0 0 1 5.67-5.68 4 4 0 0 1 2.6 1.3 4 4 0 0 1 2.6-1.31 5.68 5.68 0 0 1 5.67 5.67c0 1.72-1.8 4.41-3.32 6.29-3.32 4.06-4.47 4.16-4.85 4.16zM5.67 27.62a3.05 3.05 0 0 0-3 3.05c0 1.44 4.16 6.58 5.65 7.63 1.49-1 5.65-6.18 5.65-7.63a3.06 3.06 0 0 0-3.05-3.05 4.08 4.08 0 0 0-1 .82 9.17 9.17 0 0 1-.77.68 1.32 1.32 0 0 1-1.57 0 9 9 0 0 1-.78-.68 4 4 0 0 0-1.14-.82z" />
            <path fill="#fe0060" d="M113.76 38.44c-.78 0-1.49 1-2.07 1.4-.58-.43-1.29-1.4-2.07-1.4a3.48 3.48 0 0 0-3.48 3.48c0 1.92 5 7.6 5.55 7.16.58.43 5.55-5.24 5.55-7.16a3.48 3.48 0 0 0-3.48-3.48z" />
            <path fill="#151617" d="M111.68 49.18s-.05.29-.08.29-.05.15-.08.15c-1.7 0-6.52-6-6.52-8.16a4.5 4.5 0 0 1 4.52-4.49 3.19 3.19 0 0 1 2.07 1.06 3.16 3.16 0 0 1 2.07-1 4.53 4.53 0 0 1 4.52 4.53c0 1.37-1.44 3.16-2.65 4.66-2.62 3.24-3.54 2.96-3.85 2.96zm-2.21-10.09a2.44 2.44 0 0 0-2.43 2.44c0 1.15 3.32 5.25 4.51 6.08 1.19-.83 4.51-4.93 4.51-6.08a2.44 2.44 0 0 0-2.44-2.43 3.26 3.26 0 0 0-.83.65 7.27 7.27 0 0 1-.62.54 1 1 0 0 1-1.24 0 7.17 7.17 0 0 1-.62-.54 3.15 3.15 0 0 0-.84-.66zM63.58 13.03H49.47c-5.62 0-10 3.86-10 9v12h3v-12c0-3.83 3.57-6 7-6h13.21zm29.64 0H78.47v3h14.75c3.68 0 6.25 2.37 6.25 6v12h3v-12c0-5.31-3.89-9-9.25-9z" />
          </svg>
        </li>
        <li class="subscribe ng-scope" ng-controller="newsletterCtrl">
          <h4>Inscreva-se em nossa newsletter</h4>
          <p>para receber nossas últimas notícias e descontos exclusivos</p>
          <form id="frmNewsletter" name="frmNewsletter" ng-submit="novo()">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="email" name="email" placeholder="Digite seu email" validation="required">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  Inscrever
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="social">
          <p>Encontre-nos em nossas redes sociais</p>
          <a href="https://www.facebook.com/PrintiBR?fref=ts" alt="Facebook" target="blank" class="facebook"></a>
          <a href="https://twitter.com/Printi" alt="Twitter" target="blank" class="twitter"></a>
          <a href="https://www.linkedin.com/company/printi" alt="Linkedin" target="blank" class="linkedin"></a>
          <a href="https://plus.google.com/u/1/+PrintiBr/posts" alt="Google Plus" target="blank" class="googleplus no-mr"></a>
        </li>
      </ul>
      <!-- -->
    </div>
  </div>
</section>
<!--Newsletter - Fim-->
