<div class="container">
    <section class="minhaconta">
      <div class="row">
        <div class="col-lg-3 no-padding">
            <section class="detalhes-pedido-resumo">
               <div class="detalhes-pedido__upload">
                 <h4>RESUMO DO PEDIDO</h4>
                 <hr>
                 <ul>
                   <li><strong>Produto:</strong> Adesivo</li>
                   <li><strong>Formato:</strong> 9.5 x 9.5 cm</li>
                   <li><strong>Impressão:</strong> Frente</li>
                   <li><strong>Cores:</strong> 4x0 (colorido, sem branco)</li>
                   <li><strong>Papel:</strong> Vinil Transparente</li>
                   <li><strong>Acabamento:</strong> Redendo</li>
                   <li><strong>Extra:</strong> Individual</li>
                   <li><strong>Enobrecimento</strong> Sem enobrecimento</li>
                 </ul>
                 <h4>Opções Adicionais</h4>
                 <hr>
                 <ul>
                    <li><strong>Prova:</strong> Checagem padrão</li>
                    <li><strong>Arquivo:</strong> PDF</li>
                 </ul>
                 <div class="alert__entrega">
                   <h5>Previsão de entrega: 00/00/18</h5>                  
                 </div>
               </div>
            </section>
            <div class="valor-rodape">
                <h2>R$ 72,00</h2>
             </div> 
        </div>
        <div class="col-lg-9 col-xs-12 no-padding">
          <main>
            <div class="upload-link">
              <button><H2>FAÇA O UPLOAD DA SUA ARTE</H2></button>
            </div>
          </main>
        </div>
      </div>
    </section>
  </div>
